body {
    padding: 20px;
}
.search-form {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
}
.search-form input {
    padding: 5px;
}
button{
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.gallery {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;

}
.photo-card {
    width: calc((100% - 60px) / 4);
}
.photo-card img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.info {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.load-more {
    display: block;
    margin: 0 auto;
    color: azure;
    background-color: #00f;
}


.is-hidden {
    display: none;
}
